@import url("./carousel.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* Variables */
:root {
  --header-grey: #121212;
  /* Primary BG bör vara din bakgrundsfärg */
  --primary-bg: #000000;
  --primary-white: #ffffff;
  --primary-grey: #1a1a1a;
  --text-yellow: #f5c518;

  --main-font-family: "Montserrat", sans-serif;
}

/* Base */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--primary-bg);
  max-width: 100%;
}

/* Utils */
.content-wrapper {
  max-width: 1180px;
  margin: 0 auto;
}
.center {
  margin: 0 auto;
}

.d-none {
  display: none;
}

.header {
  background-color: var(--header-grey);
  width: 100%;
  padding: 1.5rem;
  z-index: 999;
}

.header__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 150px;
  background-color: yellow;
}

.header__form {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.header__input {
  width: 50%;
  padding: 1rem;
  border-radius: 2rem 0 0 2rem;
  border: none;
}

.header__form-btn {
  border-radius: 0 2rem 2rem 0;
  width: 5rem;
  border: none;
  cursor: pointer;
}

.header__fav-btn {
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--text-yellow);
  background: none;
  border: none;
  cursor: pointer;
}

.popular-title {
  color: var(--primary-white);
  text-align: center;
  margin-bottom: 1.5rem;
}

/*------ moviecards style --------*/

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-template-rows: 550px;
  gap: 1rem;
  justify-items: center;
}

.movieCard__link {
  text-decoration: none;
}

.movieCard__article {
  position: relative;
  overflow: hidden; /* Förhindrar att den inzoomade bilden bryter utanför */
  height: 550px;
  max-width: 370px;
  border-radius: 0.6rem;
}

.movieCard__article--cursor {
  cursor: pointer;
}

.movie-information {
  padding-left: 2rem;
  margin-top: 2rem;
  display: grid;
  /* grid-template-columns: repeat(4, 1fr); */
  grid-template-columns: auto 1fr;
  grid-auto-flow: row dense;
  /* grid-template-rows: repeat(6, 60px);
  grid-row: auto; */
}

.movieCard__img {
  height: 90%;
  width: 100%;
  object-fit: cover;
  border-radius: 0.6rem;

  transition: transform 0.5s ease; /* Mjuk övergång */
  transform-origin: 50% 20%; /* Zooma från mitten */
}

.movieCard__img--zoom {
  transition: all 0.3s ease-in-out;
}
.movieCard__article:hover .movieCard__img--zoom {
  /* height: 550px; Max höjd vid hover */
  transform: scale(1.21);
}

.movieCard__img-container {
  position: relative;
  display: inline-block;
}

.movieCard__flex-container {
  /* margin-left: 0.5rem; */
  grid-column: span 3;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1rem;
}

.movieCard__text-content {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.movieCard__title {
  color: var(--primary-white);
  font-family: var(--main-font-family);
}

.movieCard__title--small {
  font-size: 1.2rem;
  margin: 0.3rem 0 0.5rem;
}

.movieCard__title--big {
  grid-column: span 3;
  font-size: 2rem;
}

.movieCard__text {
  color: var(--primary-white);
  text-align: justify;
  font-family: var(--main-font-family);
  line-height: 1.5;
}

.movieCard__text--plot {
  margin: 1rem 1.2rem 2rem;
}

.movieCard__text--short {
  color: var(--text-yellow);
}
.movieCard__text--long {
  color: var(--text-yellow);
  margin-left: 1.2rem;
}

.movieCard__text--award {
  margin-top: 1rem;
  font-size: 1.2rem;
}
/*---------fav-btn icon-------------*/

.fav-btn {
  background-color: black;
  border-radius: 10px;
  position: absolute;
  border-radius: 10px;
  top: 5px;
  right: 5px;
  border: none;
  cursor: pointer;
  background-color: #000000;
  z-index: 10;
}
.fav-btn:hover {
  background-color: var(--text-yellow);
}

.heart-symbol {
  padding: 0.5rem;
  color: var(--primary-white);
  font-size: 2rem;
}

/* --------------search-------*/

.search__autocomplete-list {
  position: absolute;
  top: calc(
    100% + 5px
  ); /* Gör att listan hamnar precis under inputfältet med 5px marginal */

  width: 50%; /* Ser till att listan blir lika bred som inputfältet */
  background-color: white;
  border: 1px solid #ccc; /* Ger en lätt ram för bättre synlighet */
  border-radius: 0 0 10px 10px; /* Rundade hörn nedåt */
  list-style-type: none; /* Tar bort standardpunkterna från listan */

  overflow-y: auto; /* Gör att listan scrollar om den blir för lång */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Lägger till en skugga för bättre synlighet */
  z-index: 1000; /* Håller listan ovanför andra element */
}

/* Styla varje list-item snyggt */
.search__list-item {
  padding: 10px;
  cursor: pointer;
  font-family: var(--main-font-family);
  font-size: 1rem;
  color: black;
}
.search__list-item:nth-child(odd) {
  background-color: #f0e5c0;
}

/* Highlighta när man hovrar över ett list-item */
.search__list-item:hover {
  background-color: #f5c518;
  color: white;
}

@media screen and (max-width: 810px) {
  .movieCard__title--big {
    font-size: 1.5rem;
    margin: 1rem 1rem 0.5rem;
  }

  .movieCard__flex-container {
    margin: 0.2rem 1rem 0.5rem;
  }
}

@media screen and (max-width: 750px) {
  .movie-information {
    justify-items: center;
    padding-left: 0;
  }

  .movieCard__img-container {
    grid-column: span 4;
  }
  /* .movieCard__img--grid {
    grid-column: span 4;
  } */

  .movieCard__text-content {
    padding: 2rem;
  }

  .movieCard__title--big {
    margin: 0;
    font-size: 2rem;
  }

  .movieCard__flex-container {
    margin: 0 0 1rem;
    grid-column: span 4;
  }
  .movieCard__text--short {
    font-size: 0.8rem;
  }
  .movieCard__text--plot {
    grid-column: span 4;
    margin: 0 0 1.5rem;
  }
  .movieCard__text--long {
    margin-left: 0;
  }
}
