@import url("./carousel.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* Variables */
:root {
  --header-grey: #121212;
  /* Primary BG bör vara din bakgrundsfärg */
  --primary-bg: #000000;
  --primary-white: #ffffff;
  --primary-grey: #1a1a1a;
  --text-yellow: #f5c518;

  --main-font-family: "Montserrat", sans-serif;
}

/* Base */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--primary-bg);
  max-width: 100%;
}

/* Utils */
.content-wrapper {
  max-width: 1180px;
  margin: 0 auto;
}
.center {
  margin: 0 auto;
}

.d-none {
  display: none;
}

.header {
  background-color: var(--header-grey);
  width: 100%;
  padding: 1.5rem;
  z-index: 999;
}

.header__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 150px;
  background-color: yellow;
}

.header__form {
  width: 100%;
  display: flex;
  justify-content: center;
}

.header__input {
  width: 50%;
  padding: 1rem;
  border-radius: 2rem 0 0 2rem;
  border: none;
}

.header__form-btn {
  border-radius: 0 2rem 2rem 0;
  width: 5rem;
  border: none;
  cursor: pointer;
}

.header__fav-btn {
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--text-yellow);
  background: none;
  border: none;
  cursor: pointer;
}

/*------ moviecards style --------*/

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: 550px;
  gap: 1rem;
  justify-items: center;
}

.movieCard__link {
  text-decoration: none;
}

.movieCard__article {
  overflow: hidden; /* Förhindrar att den inzoomade bilden bryter utanför */
  height: 550px;
  cursor: pointer;
  border-radius: 0.6rem;
}

.movieCard__img {
  height: 500px;
  width: auto;
  object-fit: cover;
  border-radius: 0.6rem;
  transition: all 0.3s ease-in-out;
}

.movieCard__img--grid {
  width: 100%;
}

/* Zooma in BARA bilden vid hover */
.movieCard__article:hover .movieCard__img {
  height: 550px; /* Max höjd vid hover */
  /* max-width: 550px; Max bredd vid hover */
}

.movieCard__title {
  color: white;
  font-family: var(--main-font-family);
}

.movieCard__title--small {
  font-size: 1.2rem;
  margin: 0.3rem 0 0.5rem;
}

.movieCard__title--big {
  grid-column: span 3;
  font-size: 2rem;
  margin: 1rem 1rem 0.5rem;
}

.movieCard__text {
  color: white;
  text-align: justify;
  font-family: var(--main-font-family);
  line-height: 1.5;
}

.movieCard__text--plot {
  margin: 0rem 1.2rem 0.5rem;
  grid-column: span 3;
}

.movieCard__text--short {
  color: var(--text-yellow);
}
.movieCard__text--long {
  color: var(--text-yellow);
  grid-column: span 3;
  grid-auto-rows: auto;
  margin-left: 1.2rem;
}

.movieCard__flex-container {
  margin-left: 1.2rem;
  grid-column: span 3;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1rem;
}

.movie-information {
  margin-top: 2rem;
  display: grid;
  /* grid-template-columns: repeat(4, 1fr); */
  grid-template-columns: 1fr 2fr;
  grid-auto-flow: row dense;
  /* grid-template-rows: repeat(6, 60px);
  grid-row: auto; */
}

@media screen and (max-width: 810px) {
  .movieCard__title--big {
    font-size: 1.5rem;
    margin: 1rem 1rem 0.5rem;
  }
}

@media screen and (max-width: 700px) {
  .movie-information {
    justify-items: center;
  }
  .movieCard__img--grid {
    grid-column: span 4;
  }
  .movieCard__title--big {
    grid-column: span 4;
  }
  .movieCard__flex-container {
    margin: 0 0 1rem;
    grid-column: span 4;
  }
  .movieCard__text--short {
    font-size: 0.8rem;
  }
  .movieCard__text--plot {
    grid-column: span 4;
    margin: 0 2rem;
  }
}
